:root{
    --Green: hsl(75, 94%, 57%);

--White: hsl(0, 0%, 100%);

--Grey700: hsl(0, 0%, 20%);
--Grey800: hsl(0, 0%, 12%);
--Grey900: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    text-align: center;
    background-color: var(--Grey900);
    padding: 0;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main{
    margin: 80px 0 20px;
    padding: 40px 35px 35px ;
    color: var(--White);
  width: min(90% , 400px);
    background-color:var(--Grey800);
    border-radius: 15px;
}
.parant{
    margin: 0 auto;
    width: 100%;
}

img{
    margin: 0 auto;
    width: 80px;
    height: 80PX;
    border-radius: 50%;
    margin-bottom: 25px;
}

.info-parsonal h1{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 25px;

}
.info-parsonal h3{
    margin-top: 5px;
    color: var(--Green);
    font-weight:400;
    font-size: 14px;
}
.info-parsonal P{
    margin: 35px 0 28px ;
    font-weight: 400;
    font-size: 14px;
}

.info-sosal{
    width: 100%;
}

.info-sosal a{
    font-size: 14px;
    font-weight: 500;
    margin-top: 14px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: 100%;
    color: var(--White);
    background-color: var(--Grey700);
    padding: 14px 0 ;
    transition: all .5s ease;
}
.info-sosal a:hover{
    background-color: var(--Green);
    color: var(--Grey900);
    font-weight: 700;
}
.attribution{
    font-size: 10px;
    margin-bottom: 50px;
    color: var(--White);
    font-weight: normal;
}
.attribution a{
    font-weight: 400;
    color: var(--Green);
    text-decoration: none;
}
@media only screen and (max-width: 485px){
    main{
        padding: 6% ;
    }
}